[submodule "Ethernaut/13-GatekeeperOne/lib/forge-std"]
	path = Ethernaut/13-GatekeeperOne/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	branch = v1.1.1
[submodule "Ethernaut/15-NaughtCoin/NaughtCoin/lib/forge-std"]
	path = Ethernaut/15-NaughtCoin/NaughtCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Ethernaut/16-Preservation/lib/forge-std"]
	path = Ethernaut/16-Preservation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Ethernaut/15-NaughtCoin/lib/openzeppelin-contracts"]
	path = Ethernaut/15-NaughtCoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts/
